{
  "check-coverage": true,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "lines": 100,
  "include": ["lib/esm/**/*.js"],
  "exclude": ["**/*.test.js"],
  "reporter": ["lcov", "text-summary"],
  "temp-dir": "./coverage/.nyc_output",
  "report-dir": "./coverage"
}
