# This workflow will perform static code checking and run all tests
name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    # Based on https://pnpm.io/continuous-integration#github-actions
    - name: Restore pnpm cache
      uses: actions/cache@v1
      with:
        path: ~/.pnpm-store
        key: ${{ runner.os }}-node${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
    - name: Install pnpm
      run: curl -f https://get.pnpm.io/v6.js | node - add --global pnpm@6
    - name: Install dependencies
      run: pnpm install

    - name: Typecheck
      run: npm run typecheck
    - name: Run unit tests
      run: npm test --prefix ./components
    - name: Run end-to-end tests
      run: npm test --prefix ./app/e2e-tests
      timeout-minutes: 5
