# This workflow will perform static code checking and run all tests
name: Continuous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    name: Build and run tests
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: ESLint
        run: npm run lint

      - name: Prettier
        run: npm run prettier

      - name: cspell
        run: npm run cspell

      - name: Build app/common
        run: npm run build --prefix ./app/common

      - name: Typecheck
        run: npm run typecheck

      - name: Build presentation-rules-editor-react package
        run: npm run build --prefix ./presentation-rules-editor-react

      - name: Check unit test coverage
        run: npm run test:cover --prefix ./presentation-rules-editor-react

      - name: Run end-to-end tests with local configuration
        run: npm run test:local --prefix ./app/e2e-tests
        timeout-minutes: 5
        env:
          CI: true
      - name: Run end-to-end tests with web configuration
        run: npm run test:web --prefix ./app/e2e-tests
        timeout-minutes: 5
        env:
          CI: true
