# This workflow will perform static code checking and run all tests
name: Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        node-version: [14]

    name: Build and run tests
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install pnpm
      uses: pnpm/action-setup@v2.0.1
      with:
        version: 6.19.0

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: "pnpm"

    - name: Install dependencies
      run: pnpm install

    - name: ESLint
      run: npm run lint

    - name: Typecheck
      run: npm run typecheck

    - name: Build presentation-rules-editor-react package
      run: npm run build --prefix ./presentation-rules-editor-react

    - name: Check unit test coverage
      run: npm run test:cover --prefix ./presentation-rules-editor-react

    - name: Run end-to-end tests
      run: npm test --prefix ./app/e2e-tests
      timeout-minutes: 5
